body,table,input,select,textarea {
	background: #eeffff url('gfx/adb-background.gif');
	background-attachment: fixed;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a,a:visited {
	text-decoration: none;
}
.banner {
	border: 1px solid #6600FF;
	background: #dddddd;
	padding: 1px;
	margin: 0px;
}

table.data {
	border: 2px solid #6600FF;
}

tr.data {
	border: 2px solid #6600FF;
	background: #99FF66;
	padding: 0px;
}
tr.clickable:hover {
	background: #66CC33;
}
tr.data_hovered {
	background: #66CC33;
}

td.clickable {
}
td.clickable:hover {
	background: white;
	cursor: pointer;
}
td.clickable_hovered {
	background: white;
	cursor: pointer;
}

.data td {
	padding-right: 3px;
	padding-left: 3px;
	border-bottom: 1px solid #9933FF;
	border-left: 1px solid #9933FF;
}

input {
	height: 18px;
	font-size: 11px;
	border: 1px solid gray;
	width: 100%;
	background: #ffffff;
}
.nowidth {
	height: 20px;
	font-size: 11px;
	border: 1px solid gray;
	width: 10px;
}
select {
	height: 18px;
	background: #ffffff;
	border: 1px solid gray;
}
.checkbox {
	position: relative;
	border: none;
	background: #ffffff;
	height: 13px;
	width: 13px;
	border: 1px solid gray;
	overflow: hidden;
}
textarea {
	border: 1px solid gray;
	font-size: 11px;
	width: 100%;
	background: #ffffff;
}
.green {
	color: white;
	font-weight: bold;
	font-size: 9px;
	border: 1px solid;
	border-color: black;
	background: green;
	padding: 3px;
	text-align: left;
}
.red {
	color: white;
	font-weight: bold;
	font-size: 9px;
	border: 1px solid black;
	background: red;
	padding: 1px;
	text-align: left;
	width: 100%;
}
